body {
    position: relative;
  }
.btn-primary-spacing {
    margin-right: 5px;
    margin-bottom: 5px !important;
}
.social a {
    text-align: center;
    width: 46px;
    height: 46px;
    float: left;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 4px rgba(255, 251, 0, 0.329), inset 0 0 60px rgba(0,0,0,0.2);
    border-radius: 6px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}
.github a:hover {background: #191919; color: #fff;}
.skype a:hover {background: #00aff0; color: #fff;}
.linkedin a:hover {background: #0e76a8; color: #fff;}

.AboutMe p{
    text-indent: 20px; /* Отступ первой строки в пикселах */
}
.MainBody{
    background-color: rgb(242, 255, 236);
}

.container-first {
    margin-top: 72px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.navStyle{
    background-color: rgb(15, 16, 85);
}
.topSpace{
    margin-top: 72px;
}

a.anchor {
    display: block;
    position: relative;
    top: -72px;
    visibility: hidden;
}

a.aboutMe:hover {
    text-decoration: none;
    color:rgb(30, 0, 165);
}
    
.leftimg {
    max-height: 300px;
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
    box-shadow: 0 0 20px rgb(145, 145, 145);
    border: #fff solid 1px;
}

ul.dialog {
    list-style: none;
}

ul.dialog li:before {
    content: "\2012 \0020";
}

.btn-card{
   background: -webkit-gradient(linear, 0 0, 0  100%, from(#D0ECF4), to(#D0ECF4), color-stop(0.5,  rgb(0, 140, 255)));
}
.btn-card:hover {
    transition: cubic-bezier(0,1.84,1,1.61) 1.5s;
    box-shadow: 0 10px 20px rgba(88, 88, 88, 0.7),0 6px 6px rgb(0, 0, 0);
}    
.card {
    width: 15rem;
    margin: 1%;
    box-shadow: 0 0 20px rgb(145, 145, 145);
}
.card:hover {
    box-shadow: 0px 10px 20px rgba(88, 88, 88, 0.7),0 8px 8px rgb(70, 113, 255);
}

.сertImg{
    box-shadow: 0 0 20px rgb(145, 145, 145);
}
.сertImg:hover{
    box-shadow: 0 10px 20px rgba(88, 88, 88, 0.7),0 6px 6px rgb(0, 0, 0);
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 70px;
    height: 70px;  
    background-color: rgba(140, 140, 140, 0.5);      
}

@media screen and (max-width: 512px) {
    .content-center {
        justify-content: center;
    }
    .card {
        width: 100%;
        margin: 5%;
    }
    .img_card{
    width: 300px;
    margin: auto;
    }

    .leftimg {
        max-width: 100%;
        max-height: 100%;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon{
        width: 50px;
        height: 50px;  
    }    
}
