ul.dialog {
    list-style: none;
}
ul.dialog li:before {
    content: "\2012 \0020";
}
img.titleImage{
    width:100%
}
@font-face {
    font-display: swap;
    font-family: 'Tolkiencyr';
     src:   url('../fonts/Tolkiencyr.woff2') format('woff2'),
            url('../fonts/Tolkiencyr.woff') format('woff'),
            url('../fonts/Tolkiencyr.ttf') format('truetype'),
            url('../fonts/Tolkiencyr.svg#Tolkiencyr') format('svg');
    font-weight: bold;
    font-style: normal;
}
h1, h2 {
    font-family: 'Tolkiencyr';
    text-align: center;
}
ul.content{
    font-family: 'Tolkiencyr';
}
p, ul, h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
