ul.dialog {
    list-style: none;
}
ul.dialog li:before {
    content: "\2012 \0020";
}
img.titleImage{
    width:100%
}
/* @font-face {
    font-family: 'Tolkiencyrregular';
    src: url('../fonts/TolkienCyr/tolkiencyr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
 */
@font-face {
    font-family: 'Tolkiencyr';
    src: url('../fonts/TolkienCyr/tolkiencyr-webfont.eot');
    src: url('../fonts/TolkienCyr/tolkiencyr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TolkienCyr/tolkiencyr-webfont.woff2') format('woff2'),
         url('../fonts/TolkienCyr/tolkiencyr-webfont.woff') format('woff'),
         url('../fonts/TolkienCyr/tolkiencyr-webfont.ttf') format('truetype'),
         url('../fonts/TolkienCyr/tolkiencyr-webfont.svg#tolkiencyrregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1, h2 {
    font-family: 'Tolkiencyr';
    text-align: center;
}
ul.content{
    font-family: 'Tolkiencyr';
}
p, ul, h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
